/* @import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap"); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  /* color: #fff; */
}

body {
  min-height: 100vh;
  background-color: darkgray;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem 0.5rem;
}

s?

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
}

a,
a:visited {
  /* color: #fff; */
  color: gray;
  text-decoration: none;
}

a:hover {
  color: darkgray;
  text-decoration: none;
}

a.active {
  color: darkgray;
  text-decoration: none;
}

input[type="text"],
input[type="password"],
button,
textarea {
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  /* color: white; */
  border-radius: 0.5rem;
}

label,
button {
  margin-top: 1rem;
}

button {
  padding: 0.5rem;
  color: white;
}

small{
  font-size: 12px;
}

.container{
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.pages{
  max-width: 1400px;
  padding: 10px 40px;
  margin: 0 auto;
}

.workouts{
  width: 100%;
  border-radius: 4px ;
  position: relative;
  background-color: rgba(122, 121, 121, 0.503);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}

.workout{
  margin: 10px auto;
}
.workoutDetails{
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  background-color: #fff;
  margin: 20px auto;
}


.offscreen {
  position: absolute;
  left: -9999px;
}

/* .instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.line {
  display: inline-block;
}

.flexGrow {
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
} */
